body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
  background-image: url("https://ak8.picdn.net/shutterstock/videos/27335608/thumb/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
body, a:link, a:visited, a:active{
  color: white;
  font-family: 'Coming Soon', cursive;
}
.title {
  padding: 8px 12px;
  float:right;
  height: 41px;
  margin-top: -10px;
  font-family: 'Coming Soon', cursive;
  font-size: 18px;
}
.topbar{
  height:32px;
  background-color: rgb(164,17,29);
  padding-top: 10px;
  text-align: right;
}

.topbar a {
  padding: 1rem;
  margin-top: 10px;
  text-decoration: none;
}

.topbar a:hover {
  color: #ddd;
}

.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.MakeBouncyDancer {
  border: none;
}

.MakeBlinkyDancer {
  border: none;
}

.MakeFadingDancer {
  border: none;
}

.apple {
  width:6em;
  height:5em;
  background-color:  #ff4355;
  box-shadow: inset 0.2em -0.2em  #cc1022;
  border-radius: 2em 2em 3em 3em;
  position:absolute;
  top: 1em;
  left:0.3em;
}

.apple:before {
  top:-.2em;
  left:1.8em;
  content:"";
  width:4.1em;
  height:2.75em;
  background-color: inherit;
  border-radius: 3em 3em 0 0 ;
  position: absolute;
  box-shadow:-1.5em 0 0   #ff4355, inset .2em 0.2em  #ff4355;
}

.apple:after{
  content:"";
  width: 0.2em;
  height: 1em;
  background-color:brown;
  position:absolute;
  z-index: 2;
  top: -0.5em;
  left: 3em;
}

.blueberry {
  position: absolute;
  width:6em;
  height: 5.5em;
  top: 0.6em;
  left:0.4em;
  border-radius: 50%;
  background-color: #89a2ca;
  box-shadow: inset 0.2em -.2em  #6081B8;
}

.blueberry:before{
  content: "";
  width: 2em;
  height: 1em;
  left: 2em;
  position: absolute;
  background-color: #3e4d64;
  border-radius:50%;
}

.lemon {
  width: 5.1em;
  height: 5.1em;
  margin: 0.8em;
  background-color: #ffe135;
  border-radius: 50% 15%;
  box-shadow: inset 0.2em 0.2em  #ccb42a;
  transform: rotate(225deg);
  position: absolute;
}

.slow-dance {
  transform: scale(2, 0.5);
}

.line-up {
  top: 550px !important;
}

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}